/* color palette from <https://github.com/vuejs/theme> */
/*
    1. 背景颜色
    2. 文字颜色
    3. 边框颜色
    4. 悬浮颜色
    5. 激活颜色
    6. 禁用颜色
    7. 警告颜色
    8. 错误颜色
    9. 成功颜色

    1. 文字大小
*/
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --hover-color: #e4e9ec;
}

/* semantic color variables for this project */
:root[theme="light"] {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-background-mask: rgba(235, 235, 235, 0.64);

    --color-background-btn: #e4e9ec;
    --color-background-input: #e4e9ec;

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-dark-2);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --sender-btn-color-text: #2CFF38;

    --section-gap: 160px;


}

:root[theme="dark"] {
    --color-background: var(--vt-c-black-mute);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);


    --color-background-mask: rgba(235, 235, 235, 0.64);

    --color-background-btn: black;
    --color-background-input: var(--vt-c-black);

    --color-border: var(--vt-c-black-soft);
    --color-border-hover: var(--vt-c-black);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-1);
    --sender-btn-color-text: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    user-select: none;
    color: var(--color-text);
    background-image: url('./images/home-background.jpg');
    background-size: cover;
    transition: color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    color: inherit;
}

#friend-card-dialog {
    position: absolute;
    background-color: var(--color-background);
    box-shadow: 10px 10px 15px rgba(60, 60, 60, 0.12),
        10px 10px 10px rgba(60, 60, 60, 0.12),
        -10px -10px 15px rgba(60, 60, 60, 0.12),
        -10px -10px 15px rgba(60, 60, 60, 0.12);
    border: none;
    outline: none;
    user-select: none;

    &::backdrop {
        background-color: transparent;
    }
}

.box-shadow {
    box-shadow: 10px 10px 15px rgba(60, 60, 60, 0.12),
        10px 10px 10px rgba(60, 60, 60, 0.12),
        -10px -10px 15px rgba(60, 60, 60, 0.12),
        -10px -10px 15px rgba(60, 60, 60, 0.12);
}

.pointer {
    cursor: pointer;
}

.add-conv {
    width: 90%;
    height: 80%;
    max-width: 20rem;
    padding: 1rem;
    position: absolute;
    border-radius: .3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-background);
    overflow: hidden;
    z-index: 10;

    >fieldset {
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-radius: .3rem;
    }

    .item {
        width: 100%;
        height: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        input[type="checkbox"] {
            border-radius: 50%;
            cursor: pointer;
        }

        .item-card {
            width: 80%;
            height: 2rem;
            line-height: 2rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
            font-size: .8rem;
            color: var(--color-text);
            white-space: nowrap;

            >img {
                width: 2rem;
                height: 2rem;
                border-radius: .3rem;
            }
        }
    }

    /* select friends dialog action */
    .add-conv-actions {
        width: 100%;
        height: 2rem;
        line-height: 2rem;
        position: absolute;
        bottom: 2rem;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        >div {
            width: 5rem;
            height: 2rem;
            background-color: var(--color-background);
            border-radius: .3rem;
            text-align: center;
            cursor: pointer;
        }
    }
}

/* 朋友卡片 */

.friend-card {
    width: 18rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    background-color: var(--color-background);
    border-radius: .3rem;
    z-index: 3;

    &[tabindex] {
        outline: none;
    }

    &>:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }


    .friend-card-header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .friend-card-avatar {
        width: 4rem;
        height: 4rem;
        border-radius: .3rem;
    }

    .friend-card-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        word-wrap: break-word;
        overflow: hidden;
        white-space: pre-wrap;

        &:not(:first-child) {
            color: #999;
        }
    }

    .friend-card-body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            border: none;
            background-color: var(--color-background-btn);
            width: 6rem;
            height: 2rem;
            padding: auto;
            cursor: pointer;
        }

        .apply-detail {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .apply-input {
                /* border-radius: .3rem; */
                outline: none;
                padding: 0 .3rem;
                /* font-size: 1rem; */
            }

            >:first-child,
            >:nth-child(2) {
                display: grid;
                grid-template-columns: 1fr 2fr;
            }

            >:last-child {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
            }
        }
    }
}

.action {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 5rem;

    & div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        cursor: pointer;
        flex-direction: column;
        font-size: small;
        color: #90CBFB;

        & svg {
            width: 2rem;
            height: 2rem;

            path,
            circle {
                stroke-width: 2;
                stroke: #90CBFB;
            }

        }
    }
}

/* 图片预览 */
.img-preview {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-mask);

    img {
        max-width: 100%;
        max-height: 100%
    }
}

/* 头像:本人头像以及聊天列表中的头像尺寸 */
.avatar {
    width: calc(4rem - 1.5rem);
    height: calc(4rem - 1.5rem);
    border-radius: .3rem;
}

/* 左侧顶部搜索栏 */
.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background-color: var(--color-background);
    gap: 1rem;

    .setting-button {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .search {
        width: calc(100% - 2rem);
        height: 1.5rem;

        .search-icon {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: .4rem;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        .search-input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0.5rem 0.5rem 0.5rem 2rem;
            background-color: var(--color-background-input);
            border-radius: .5rem;
        }
    }
}

.hover {
    &:hover {
        background-color: var(--hover-color);
    }
}

.info-panel {
    width: 21rem;
    height: 34rem;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1rem;
    background-color: var(--color-background);
    z-index: 3;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border-radius: .3rem;

    .info-panel-item-avatar {
        width: 100%;
        height: 4rem;
        margin-bottom: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        label {
            position: relative;
            width: 4rem;
            height: 4rem;
            display: flex;

        }

        span {
            position: absolute;
            width: 100%;
            height: 50%;
            color: var(--color-text);
            background-color: var(--color-background-mask);
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: .2rem;
    }

    .info-panel-item {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        height: 3rem;
        align-items: center;

        input {
            width: 100%;
            padding: .3rem .5rem;
            border: none;
            background-color: var(--color-background-input);
            font-size: medium;
        }

        .info-panel-item-gender {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .1rem;
            }
        }
    }

    .info-panel-btn {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        button {
            width: 5rem;
            height: 2rem;
            border: none;
            cursor: pointer;
        }
    }

}

.btn {
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: var(--color-background-btn);
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    /*滚动条的宽度*/
    height: 8px;
    /*滚动条的高度*/
}


::-webkit-scrollbar-thumb:vertical {
    /*垂直滚动条的样式*/
    height: 50px;
    background-color: #BDBDBD;
    -webkit-border-radius: 50px;
    outline: none;
    /*outline-offset: -2px;*/
    border: none;
}
