/* 登录页面 */
.login-container {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .5rem;

    .error {
        position: absolute;
        width: 20rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-wrapper {
        width: 100%;
        max-width: 400px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-background);
        border-radius: .3rem;
        position: relative;

        .email,
        .pwd {
            height: 50px;
            width: 90%;
            margin-top: 1rem;

            input {
                width: 100%;
                height: 100%;
                padding: 1em;
                background-color: var(--color-background-input);
                outline: none;
                border: none;
                font: inherit;
            }
        }

        .language {
            margin-top: 1rem;
            font-size: small;
            display: flex;
            align-items: center;
            gap: 2rem;

            label {
                display: flex;
                align-items: center;
                gap: .2rem;
            }
        }

        .submit {
            margin-top: 40px;
            width: 70px;
            height: 40px;
            padding: 0;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            color: #ffffff;
            background-color: #f77c2c;
            cursor: pointer;
            outline: none;
            border: none;
            font-size: 1rem;
        }
    }

    .theme-login {
        position: fixed;
        top: 1rem;
        right: 3rem;
    }
}

.sign {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 20px;
}



/* 注册链接 */
.login-register {
    font-size: small;
    margin: auto;
    bottom: 1rem;
    position: absolute;
}

/* 登录结束 */
