/* 右侧 */
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 70%;
    min-width: 50%;
    height: 100%;
    position: relative;
    --avatar-width: 2.5rem;
    --avatar-height: 2.5rem;
}

.right-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    animation: right-in .2s linear forwards;
    background-color: var(--color-background);
    --avatar-width: 2.5rem;
    --avatar-height: 2.5rem;
}

@keyframes right-in {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }

}

.choose-conv {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    svg {
        width: 6rem;
        height: 6rem;
    }
}

.right-top-bar {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
    z-index: 2;

    .close-bar {
        height: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 0.5rem;
        padding-right: 1rem;
        gap: 1rem;
    }

    .right-top-bar-friend {
        width: 100%;
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: larger;
    }

    .right-top-bar-friend-mobile {
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: larger;

        svg {
            path {
                stroke: var(--color-text);
            }
        }
    }

}

.set-window {
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 3rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: var(--color-background);
    border-radius: .3rem;
    z-index: 3;

    .people {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: .5rem;

        .avatar-name {
            width: 2rem;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: .3rem;
            }

            span {
                text-overflow: ellipsis;
                word-break: keep-all;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .info {
        width: 100%;
        border-top: var(--color-border) solid 1px;

        >div>input {
            width: 100%;
            height: 1.3rem;
            padding: .3rem;
            outline: none;
            background-color: var(--color-background-input);
            border: none;
        }
    }

    .set-window-setting {
        width: 100%;
        font-size: small;

        .setting-item {
            width: 100%;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .bottom {
        margin-top: .5rem;
        color: red;
    }

}

#voice-in-msg-icon {
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &>div {
        width: 1px;
        border-radius: 1px;
        background-color: var(--color-text);
    }
}

@keyframes voice-play {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.cat-head-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 5rem;
        height: 5rem;
    }
}

.msg-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    color: black;


    .file-sender {
        position: absolute;
        width: 15rem;
        height: 20rem;
        background-color: var(--color-background);
        color: var(--color-text);
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        padding: 1rem;
        border-radius: .3rem;
        transform: translate(-50%, -50%);
        box-shadow: 10px 10px 15px rgba(60, 60, 60, 0.12),
            10px 10px 10px rgba(60, 60, 60, 0.12),
            -10px -10px 15px rgba(60, 60, 60, 0.12),
            -10px -10px 15px rgba(60, 60, 60, 0.12);
        z-index: 20;

        .file-sender-content {
            flex-grow: 1;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .file-sender-item {
                width: 100%;
                height: 1.2rem;
                padding: .1rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;


                & svg {
                    height: .8rem;

                    path {
                        stroke: var(--color-text);
                    }

                    circle {
                        stroke: var(--color-text);
                    }
                }

                .file-sender-name {
                    flex-grow: 1;
                    display: block;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    word-break: keep-all;
                    white-space: nowrap;
                }
            }
        }

        .file-sender-footer {
            width: 100%;
            height: 1.5rem;
            display: flex;
            justify-content: space-evenly;

            button {
                width: 4rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: .2rem;
                cursor: pointer;
                background-color: var(--color-background-btn);
                color: var(--color-text);
            }
        }
    }

    /* .resize-size {
        max-height: 80%;
    }

    .resize {
        width: 100%;
        height: 100%;
        flex: 1;
        min-height: 40%;
        resize: vertical;
        overflow: hidden;
        padding-top: 3.8rem;
        position: relative;

    } */

    .msg-list-new-msg-count {
        position: absolute;
        width: 4rem;
        height: 2rem;
        bottom: 1.4rem;
        cursor: pointer;
        left: 25%;
        background-color: white;
        border-radius: .4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3));

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #ffffff;
            bottom: -1rem;
            left: 1.5rem;
        }
    }

    /* 消息列表 */

    .msg-list {
        width: 100%;
        height: 80%;
        min-height: 40%;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        scrollbar-gutter: stable both-edges !important;
        gap: 1rem;
        padding: .8rem 1rem;
        position: relative;
        scroll-behavior: smooth;

        .msg-list-resizer {
            width: 100%;
            height: .3rem;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all .2s;
            cursor: s-resize;

            &:hover {
                background-color: gray;
                transition-delay: .3s;
            }
        }

        svg {
            path {
                stroke: var(--color-text);
            }
        }

        #exclamation {
            path {
                stroke: #e11d48;
                fill: #e11d48;
            }
        }

        /* 消息组件,对方消息 */

        .msg-item {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: .3rem;

            :hover .time-span {
                display: block;
            }

            .content-wrapper {
                max-width: calc(100% - var(--avatar-width) * 2 - .6rem);
                width: fit-content;
                height: auto;
                position: relative;
            }

        }

        /* 消息组件 */

        .msg-item-reverse {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            gap: .3rem;

            :hover .time-span {
                display: block;
            }

            .content-wrapper {
                max-width: calc(100% - var(--avatar-width) * 2 - .6rem);
                width: fit-content;
                height: auto;
                position: relative;
            }

            .msg-sending {
                display: flex;
                align-items: end;
                padding-bottom: .3rem;

                svg {
                    animation: msg-sending 1s linear infinite;
                }
            }

            .msg-send-failed {
                display: flex;
                align-items: end;
                padding-bottom: .3rem;

                span {
                    width: 1rem;
                    height: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                    font-size: small;
                    font-weight: bold;

                }
            }

        }

        .audio-msg-item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            flex-direction: inherit;
            cursor: pointer;
            user-select: none !important;
        }

        /* 消息头像wrapper */

        .msg-item-avatar {
            width: var(--avatar-width);
            height: var(--avatar-height);
            display: flex;
            justify-content: flex-start;
        }

        /* 消息发送时间 */

        .msg-item-time {
            height: 1rem;
            font-size: .5rem;
            color: #999;

            .time-span {
                display: none;
            }
        }

        /* 文件类型消息 */

        .msg-item-file-name {
            width: 8rem;
            height: 10rem;
            background: url("/images/file-preview-icon.png") no-repeat center center;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            color: inherit
        }

        .msg-item-file-name:hover {
            white-space: normal;
            overflow: visible;
        }

        /* 消息内容 */

        .msg-item-content {
            border-radius: .3rem;
        }

        .msg-item-text {
            border-radius: .3rem;
            padding: .5rem;
            user-select: text;
        }

        .msg-item-emoji {
            border-radius: .3rem;
            padding-left: .5rem;
            padding-right: .5rem;
        }

        /* 表情消息大小 */

        .emoji {
            width: 4rem;
            height: 4rem;
        }

        /* 图片消息尺寸 */

        .msg-item-img {
            max-width: 10rem;
            height: auto;
        }

        /* 自己消息背景 */

        .background-self {
            background-color: #95EC69;
        }

        /* 对方消息背景 */

        .background-other {
            background-color: #90CBFB;
        }

        .related-msg-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .2rem;
        }

        .related-msg-content {
            width: 100%;
            height: auto;
            display: flex;
            gap: .2rem;
        }

        .related-msg {
            padding: .5rem;
            border-radius: .2rem;
            max-width: calc(100% - var(--avatar-width) * 2 - .6rem);
        }

        .related-text-msg {
            max-height: 4rem;
            overflow: hidden;
            display: -webkit-inline-box;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            /* show ellipsis */
            text-overflow: ellipsis;
        }

        .preview-text {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            max-width: 15rem;
            overflow-y: auto;
            padding: 1rem;
            border-radius: .3rem;
            background-color: white;

            user-select: text;
            cursor: default;

            outline: none;
        }

        .related-msg-right {
            flex-direction: row-reverse;
        }

        .related-msg-left {
            flex-direction: row;
        }

        .colunm-float-right {
            align-items: flex-end;
        }

        .colunm-float-left {
            align-items: flex-start;
        }

    }

    .related-msg-background {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .msg-list::-webkit-scrollbar-button {
        display: none;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        display: none;
    }

    .scrollbar:hover::-webkit-scrollbar-thumb {
        display: block;
    }

    /* 右侧底部发送框 */

    .sender-size {
        flex: 1;
        height: 20%;
        max-height: 60%;
        min-height: 20%;
    }

    .sender {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: .3rem;
        position: relative;
        border-top: 1px solid var(--color-border);

        svg {

            path,
            circle {
                stroke: var(--color-text);
            }
        }

        /* 发送框顶部的条 */

        .send-bar {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;

            &:hover svg {
                cursor: pointer;
            }

            >div {
                display: flex;
                gap: 1rem;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .msg-input-wrapper {
            width: 100%;
            height: calc(100% - 2rem);
            display: flex;
            flex-direction: column;
            position: relative;

            .msg-input-size {
                border: none;
                resize: none;
            }

            .msg-input-size-mobile {
                border: #e2e2e2 solid 1px;
                border-radius: .3rem;
            }

            .msg-input {
                height: 100%;
                width: 100%;
                outline: none;
                overflow-y: auto;
                font-size: 1rem;
                font-family: inherit;
                background-color: transparent;
                color: var(--color-text);
                padding: .5rem;
            }

            .empty-msg-tip {
                padding: .2rem .5rem;
                border-radius: .2rem;
                position: absolute;
                right: 1rem;
                bottom: 3rem;
                font-size: .8rem;
                background-color: var(--color-background);
                color: var(--color-text);
            }

            .empty-msg-tip-mobile {
                padding: .2rem .5rem;
                border-radius: .2rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: .8rem;
                background-color: var(--color-background);
                color: var(--color-text);
            }

            .sender-footer {
                width: 100%;
                height: 2rem;
                position: relative;

                .related-msg {
                    max-width: 50%;
                    width: fit-content;
                    height: 100%;

                    position: relative;
                    overflow: hidden;
                    padding: 0 1rem;

                    span {
                        position: absolute;
                        top: 0;
                        right: 0.4rem;
                        cursor: pointer;
                    }
                }
            }

            .send-btn {
                width: 6rem;
                height: 2rem;
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                background-color: var(--color-background-btn) !important;
                color: var(--sender-btn-color-text);
                border-radius: .2rem;
                border: none;
                cursor: pointer;
                font-size: large;
            }

            .send-btn:hover {
                background-color: #999;
            }
        }
    }

    .sender-disabled {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, .6);
        text-align: center;
    }

}


.setting {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .rect-size {
        width: 30rem;
        height: 15rem;
    }

    .rect-size-mobile {
        width: 100%;
        padding: 1rem;
    }

    .rect {
        h2 {
            margin-bottom: 2rem;
        }

        b {
            font-weight: bold;
        }

        .font-size {
            display: grid;
            grid-template-columns: 2fr 4fr;
            align-items: center;
        }

        .font-size-desktop> :last-child {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
        }

        .font-size-mobile> :last-child {
            display: grid;
            grid-template-columns: 2fr 2fr;
            align-items: center;
        }

        .setting-theme,
        .language {
            width: 100%;
            height: 3rem;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            align-items: center;

        }

        .setting-transparent {
            width: 100%;
            height: 3rem;
            display: grid;
            grid-template-columns: 2fr 3fr 1fr;
            align-items: center;

            #transparent {
                width: 90%;
            }
        }
    }
}

.friendship-list {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    position: relative;

    .friendship-item {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .item-left {
            display: flex;
            gap: .4rem;
            align-items: center;

            .item-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;


                .remark {
                    font-size: small;
                    color: gray;
                }
            }
        }

        .friendship-action button {
            border: none;
            border-radius: .2rem;
            background-color: var(--color-background-btn);
            color: var(--color-text);
            width: 6rem;
            height: 2rem;
            cursor: pointer;
        }
    }

    /* 好友验证窗口 */

    .friendship-detail {
        width: 18rem;
        height: 12rem;
        padding: 1rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        background-color: var(--color-background);
        left: 50%;
        top: 10%;
        border-radius: .3rem;
        transform: translateX(-50%);

        > :first-child {
            width: 100%;
            text-align: center;
            font-size: large;
            font-weight: bold;
        }

        > :nth-child(2),
        :nth-child(3) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 100%;

            input {
                border: none;
                border-radius: .2rem;
                outline: none;
                padding: 0 .3rem;
                background-color: var(--color-background-input);
            }
        }

        > :last-child {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;

            button {
                background-color: var(--color-background-btn);
                color: var(--color-text);
                width: 6rem;
                height: 2rem;
                cursor: pointer;
                border: none;
                border-radius: .2rem;
            }
        }

    }
}

.postcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .pc-wrapper-size-mobile {
        width: 100%;
        height: 100%;
        padding: 5rem 1rem 1rem;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        .postcard-setting {
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;
        }
    }

    .pc-wrapper-size {
        justify-content: center;
        align-items: center;

        .postcard-setting {
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top: -1rem;
            cursor: pointer;
        }
    }

    .pc-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &>*:not(:last-child, :first-child, :nth-child(2)) {
            border-bottom: 1px solid var(--color-border);
        }


        .set-drawer {
            position: absolute;
            right: 0;
            top: 1rem;
            background-color: var(--color-background);

            &[tabindex] {
                outline: none;
            }

            .set-drawer-item {
                width: 6rem;
                height: 2rem;
                line-height: 2rem;
                padding: 0 1rem;
                border: none;
                text-align: center;
            }
        }

        .header-info {
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 1rem;

            .postcard-avatar {
                width: 6rem;
                height: 6rem;
                border-radius: 1rem;
            }

            .item-avatar {
                width: 6rem;
                height: 6rem;
                background-color: azure;
                border-radius: .3rem;
                display: grid;
                grid-template-columns: repeat(var(--avatar-column), 1fr);
                gap: .2rem;

                .avatar {
                    place-self: center;
                    width: 100%;
                    height: auto;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: .5rem;

                .name {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

        }

        .postcard-remark,
        .sign {
            width: 100%;
            height: 3rem;
            line-height: 3rem;
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 1rem;
            align-items: center;
        }

        .postcard-remark {
            input {
                width: 90%;
                height: 2rem;
                padding: .3rem .5rem;
                border: none;
                border-radius: .2rem;
                background-color: var(--color-background-input);
            }
        }
    }
}


/* 无限旋转 */
@keyframes msg-sending {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(270deg);
    }

}

/* emoji start */
.emoji-panel {
    position: absolute;

    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    background-color: var(--color-background);

    & ::-webkit-scrollbar {
        width: 3px;
    }

    &[tabindex] {
        outline: none;
    }
}

.emoji-panel-size {
    width: 25rem;
    height: 15rem;
    bottom: calc(100% + 1rem);
    left: 1rem;

    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.emoji-panel-size-mobile {
    width: 100%;
    bottom: 100%;
    left: 0;
    height: 15rem;
}

.emoji-panel-up {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.emoji-panel-footer {
    width: 100%;
    height: 2rem;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.unicode-emoji-wrapper {
    letter-spacing: 1rem;
    line-height: 2rem;
    text-align: justify;
    padding-left: 1rem;
}

.emoji-wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: min-content;
    /*将每行的高度设置为其内容的最小高度*/
    justify-content: center;
    justify-items: center;
    padding: 0 .3rem;

    .emoji {
        width: 100%;
        padding: .7rem;
    }

    .emoji img {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
    }

}

/* emoji end */
/* recorder start */
.recorder {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: .3rem;
    background-color: rgba(0, 0, 0, .3);
    z-index: 3;

    .btn {
        width: 5rem;
        height: 2rem;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        border: none;
        border-radius: .3rem;
        background-color: white;
    }

    .audio {
        width: 8rem;
        height: 2rem;
    }


}

.voice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-play-state: paused;

    .item {
        width: .5rem;
        height: var(--voice-item-height);
        border-radius: .3rem;

        animation: radius-animation var(--voice-item-animation-time) ease;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-direction: alternate;
        -webkit-animation-direction: alternate;
        animation-play-state: inherit;
    }
}

.voice-size {
    width: 8rem;
    height: 4rem;
}

.voice-size-mobile {
    width: 50%;
    height: 4rem;
    position: absolute;
    bottom: 21rem;
    left: 50%;
    transform: translateX(-50%);
}

.voice-cancel-background {
    .item {
        background-color: red;
    }
}

.voice-normal-background {
    .item {
        background-color: #1f94ea;
    }
}

.recorder-mobile {
    width: 100%;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    border-radius: .3rem;
}

.recorder-mobile-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(62, 62, 62, 0.8) 0%, rgba(62, 62, 62, 0.5) 100%);

    .recorder-mobile-hint {
        width: 100%;
        position: absolute;
        bottom: 7rem;
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: white;
    }

    .recorder-holder {
        width: 120%;
        height: 14rem;
        background-color: rgb(57, 56, 56);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 300%;
    }
}

@keyframes radius-animation {
    100% {
        height: .5rem;
        filter: contrast(2);
    }
}
